---
title: "About"
---

.media{style: "max-width: 500px"}
  .media-left
    %img.img-rounded.media-object(src="https://res.cloudinary.com/patbl/image/upload/c_scale,q_100,w_200/v1700451497/patrick_photo.jpg" alt="Patrick in a suit")
  .media-body
    %p Hi! I'm Patrick. I'm a software engineer in the San Francisco Bay Area.
